     <div id="footer" class="home"><!--BEGIN FOOTER -->
      <div id="footer-left"><!--BEGIN LEFT SIDE OF FOOTER -->
        <div class="footer-column first"><h6>My Account</h6>
            <ul>
                <li><a title="Bill payment assistance" href="@Url.Content("~/CustomerService/PayYourBill/BillPaymentAssistance")">Bill payment assistance</a></li>
                <li><a title="Enroll for equal pay" href="@Url.Content("~/EqualPay")">Enroll for equal pay</a></li>
                <li><a title="Go paperless" href="@Url.Content("~/Paperless")">Go paperless</a></li>
                <li><a title="Pay online FREE" href="@Url.Content("~/Payment")">Pay online FREE</a></li>
                <li><a title="View usage history" href="@Url.Content("~/Billing/ChartHistory")">View usage history</a></li>
            </ul>
        </div>
        <div class="footer-column"><h6>Residential</h6>
            <ul>
                <li><a title="Energy saving tips" href="@Url.Content("~/Residential/SaveEnergyAndMoney")">Energy saving tips</a></li>
                <li><a title="Equipment inspection" href="@Url.Content("~/Residential/Services/EquipmentInspection")">Equipment inspection</a></li>
                <li><a title="Manage your bill" href="@Url.Content("~/CustomerService/PayYourBill/ManageYourBill")">Manage your bill</a></li>
                <li><a title="Natural gas safety" href="@Url.Content("~/Residential/Safety/GasLeaks/SmellRottenEggs")">Natural gas safety</a></li>
                <li><a title="High-efficiency offers" href="@Url.Content("~/Residential/SpecialOffers")">High-efficiency offers</a></li>
            </ul>
        </div>
        <div class="footer-column"><h6>Business</h6>
            <ul>
                <li><a title="Call before you dig" href="@Url.Content("~/Residential/Safety/811CallBeforeYouDig")">Call before you dig</a></li>
                <li><a title="Conserve energy" href="@Url.Content("~/Business/SaveEnergyAndMoney")">Conserve energy</a></li>
                <li><a title="EWEB steam transition project" href="@Url.Content("~/Business/Partners/EWEBSteamProject/")">EWEB steam project</a></li>
                <li><a title="Gas commodity price" href="@Url.Content("~/AboutNWNatural/RatesAndRegulations/BusinessCommodityPriceInfo")">Gas commodity price</a></li>
                <li><a title="Smart Energy" href="@Url.Content("~/Residential/SmartEnergy")">Smart Energy</a></li>
            </ul>
        </div>
        <div class="footer-column last"><h6>At Your Service</h6>
            <ul>
                <li><a title="Convert to gas" href="@Url.Content("~/Residential/BenefitsOfGas/ConvertToGasResidential")">Convert to gas</a></li>
                <li><a title="Find a contractor" href="@Url.Content("~/CustomerService/EquipmentServices/FindAContractor")">Find a contractor</a></li>
                <li><a title="ETO data sharing rule" href="http://www.energytrust.org/donotcontact" target="_blank">ETO data sharing rule</a></li>
                <li><a title="Start an online account" href="@Url.Content("~/Register")">Start an online account</a></li>
                <li><a title="Start service for home" href="@Url.Content("~/ServiceStart/Start")">Start service for home</a></li>
            </ul>
        </div>
        <div id="copyright" class="home">
            <ul>
                <li><a href="@Url.Content("~/GlobalBottomFooterNavigation/TermsAndConditions")">Terms and Conditions</a> | </li>
                <li><a href="@Url.Content("~/GlobalBottomFooterNavigation/Privacy")">Privacy</a> | </li>
                <li><a href="@Url.Content("~/SiteMap")">Site Map</a> | </li>
                <li><a href="@Url.Content("~/CustomerService/BillingOptions/ViewYourBill/ViewBillInserts")">Bill Inserts</a> | </li>
                <li><a href="@Url.Content("~/GlobalBottomFooterNavigation/Espanol/")">En Espanol</a> | </li>
                <li><a title="Share This" href="mailto:">Share This</a> | </li>
                <li><a title="Contact Us" href="@Url.Content("~/GlobalBottomFooterNavigation/ContactUs")">Contact Us</a></li>
            </ul>
            <p style="MARGIN-LEFT: 20px">Copyright ©2010 NW Natural</p>
        </div>
      </div><!--END LEFT SIDE OF FOOTER -->
      <div id="footer-right"><!--BEGIN RIGHT SIDE OF FOOTER -->
        <div id="home-buttons">
            <p><a class="button-smart-energy" href="@Url.Content("~/Programs/Paperless")">go paperless<br /><span class="sub">enroll today</span></a></p>
            <p><a class="button-twitter" href="https://twitter.com/#!/nwnatural" target="_blank">follow us<br /><span class="sub">on twitter</span></a></p>
        </div>
       </div>
    </div><!--END FOOTER -->
