@model AtiWrapperServicesUI.Models.WrapperMethodViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Wrapper</legend>

        <div class="editor-label" >
            @Html.LabelFor(model => model.CustomerName)
        </div>
        <div class="editor-field" >
            @Html.DropDownListFor(model => model.CustomerName, Model.CustomerNames, "[ --- None --- ]")
        </div>

        <div class="editor-label" >
            @Html.LabelFor(model => model.ServiceMethod)
        </div>
        <div class="editor-field" >
            @Html.DropDownListFor(model => model.ServiceMethod, Model.ServiceMethods, "[ --- None --- ]")
        </div>
        <div>
            @Html.LabelFor(model => model.WrapperMethod)
            @Html.EditorFor(model => model.WrapperMethod)
        </div>
        <button type="submit" value="InputParamterDefaults" id="InputParamterDefaults" name="Command">Set Input Parameter Defaults</button>
       
    </fieldset>
}