@model AtiWrapperServicesUI.Models.WrapperMethodParameterViewModel
@{
    ViewBag.Title = "WrapperMethodParameterDefaultView";
}

<h2>WrapperMethodParameterDefaultView</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ServiceMethodName)
    @Html.HiddenFor(x => x.WrapperMethodName)
    @Html.HiddenFor(x => x.SoapHeaderTypeName)

    if (Model.SoapHeaders != null && Model.SoapHeaders.Count > 0)
    {
        <div>
            <table>
                <thead>
                    <tr>
                        <td>
                            <h2>Name</h2>
                        </td>
                        <td>
                            <h2>Type</h2>
                        </td>
                        <td>
                            <h2>Required</h2>
                        </td>
                        <td>
                            <h2>Default Value</h2>
                        </td>
                    </tr>
                </thead>

            @for (int i = 0; i < Model.SoapHeaders.Count; i++)
            {
                    @Html.EditorFor(x => x.SoapHeaders[i])
            }
            </table>
        </div>
    }
    <div>
        <table>
            <thead>
                <tr>
                    <td>
                        <h2>Name</h2>
                    </td>
                    <td>
                        <h2>Type</h2>
                    </td>
                    <td>
                        <h2>Required</h2>
                    </td>
                    <td>
                        <h2>Default Value</h2>
                    </td>
                </tr>
            </thead>

        @for (int i = 0; i < Model.Parameters.Count; i++)
        {
                @Html.EditorFor(x => x.Parameters[i])
        }
        </table>
    </div>
<input type ="submit" value="OK" />
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.chkbox').live('change', function () {
                if ($(this).is(':checked')) {
                    alert("Hide: #ValueEditor" + $(this).attr('itemid'));
                    $('#ValueEditor' + $(this).attr('itemid')).attr('Disabled', 'disabled');
                    $('#ValueEditor' + $(this).attr('itemid')).hide();
                } else {
                    alert("Show: #ValueEditor" + $(this).attr('itemid'));
                    $('#ValueEditor' + $(this).attr('itemid')).removeAttr('Disabled');
                    $('#ValueEditor' + $(this).attr('itemid')).show();
                }
            });
        });
    </script>

}

